@import './normalize.css';

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Jura|Nova+Oval|Quattrocento|Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Julius+Sans+One|Raleway');
@import url('https://fonts.googleapis.com/css?family=Exo:400,500,600,700|Poiret+One|Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');


/*header syling*/

/*should be using more dynamic spacing - not px - try to use percents
/*you can use px for heights cause don't have all the tools yet
/*use em for fonts*/


header {
  /*put these things in alpha order*/
  background-color: Gainsboro;
  border-bottom: solid;
  height: 100px;
  margin: 0;
  position: fixed;
  width: 100%;
}

header h2 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  margin-left: 9%;
  margin-top: 2%;
  padding: 0;
  width: 20%;
}

#top_title a {
  color: Indigo;
  font-family: 'Poiret One';
  text-decoration: none;
}

#top_title a:hover {
  color: Black;
}

/*navigaton styling*/
header nav ul {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 0;
  margin-right: 11%;
  margin-top: 2.4%;
  padding: 0;
  width: 40%;
}

header nav li {
  display: inline-block;
  float: right;
  margin: 0;
  margin-top: 2.2%;
  padding: 0;
  padding-left: 7%;
}

header nav a {
  color: red;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Raleway';
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  color: Maroon;
}

/*main styling*/
h1 {
  background-image: url('../assets/hero.jpg');
  background-size: 100% 100%;
  background-position: center;
  border-bottom: solid;
  border-top: solid;
  font-size: 5em;
  height: 500px;
  margin: 0;
  padding-top: 30%;
}

/*text size and font*/
h1,
h2 {
  font-family: 'Julius Sans One' ;
  text-align: center;
}

/*popular posts styling*/
section h2 {
  border-top: solid;
  border-bottom: solid;
  font-size: 3em;
  margin: 0;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 100%;
}

h3 {
  border-bottom: solid;
  font-family: 'Poiret One';
  font-size: 1.4em;
  text-align: center;
}

/*this is font family and size for all text */
p {
  font-family: 'Josefin Slab';
  font-size: 1.3em;
}

main section {
  clear: both;
}

.posts div {
  display: inline-block;
  margin: 0;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 100%;
}

article {
  background-color: #ebebeb;
  border: solid;
  border-color: grey;
  /*i dont like the rounded corners, but un-comment code below for them*/
  /*border-radius: 1.3em;*/
  display: inline-block;
  height: 350px;
  /*margin: 0% 3% 3% 2%;*/
  margin-top: ;
  margin-bottom: 5%;
  margin-right: 5%;
  padding: 1.1% 1.1% 1.1% 1.1%;
  width: 24%;
}

.posts p {
  color: Black;
  height: 70%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.posts a {
  color: red;
  font-family: 'Raleway';
  text-decoration: none;

  /*I don't like the borders around the links */
  /*but if you uncomment the code below to include this styling*/
  /*border: solid Darkgrey;*/
  /*border-radius: 1.3em;*/
  /*padding: 1.5% 1.5% 1.5% 1.5%;*/
}

.posts a:hover {
  color: Maroon;
}

article .learn {
  text-align: center;
}
/*join the club styling*/
.club {
  display: inline-block;
}
.club div {
  display: inline-block;
  margin: 0;
  margin-left: 5%;
  width: 50%;
}
.club h2 {
  border: none;
  display: inline-block;
  text-align: left;
}
.club p {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}

img {
  border: solid;
  float: right;
  height: 320px;
  margin: 0;
  margin-right: 5%;
  margin-bottom: 4%;
  width: 38%;
}

/*"everybody wants to join" the club styling*/
section:last-of-type h2 {
  margin: 0;
  height: 500px;
  background-image: url('../assets/everybody.jpg');
  background-size: 100% 100%;

  text-align: center;
  font-size: 5em;
  padding-top: 40%;
}

/*footer syling*/
footer {
  background-color: #dcd1dc;
  /*background-color: #c5b2c5;*/
  margin: 0;
  width: 100%;
}

div {
  position: inline-block;
  width: 40%;
  margin-left: 12%;

  padding-top: 3%;
  padding-bottom: 5%;
}

h4, p#disclaimer {
  display: inline;
  font-size: .9em;
  margin: 0;
}

footer nav ul {
  float: right;
  list-style-type: square;
  margin: 0;
  margin-top: 4%;
  margin-right: 11%;
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
  padding-top: 13%;
}

footer a {
  color: red;
  font-family: 'Raleway';
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
