@import './normalize.css';

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Jura|Nova+Oval|Quattrocento|Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Julius+Sans+One|Raleway');
@import url('https://fonts.googleapis.com/css?family=Exo:400,500,600,700|Poiret+One|Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');


/*header syling*/

/*should be using more dynamic spacing - not px - try using percentages*/
/*you can use px for heights cause you don;t have java script yet*/
/*use em for fonts*/

header {
  background-color: Gainsboro;

  width: 100%;
  height: 100px;
  margin: 0;
  position: fixed;
}

header h2 {
  margin: 0;
  padding: 0;
  /*float: left;*/
  width: 30%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 1%;

  font-size: 2.5em;
  font-weight: bold;
  border: solid;
}

/*how did that link turn purple?*/
#top_title a {
  color: Purple;
  text-decoration: none;
  font-family: 'Poiret One';
}

#top_title a:hover {
  color: Black;
}

/*navigaton styling*/
header nav ul {

  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;

  float: right;
  width: 40%;

  margin-top: 1%;
  margin-right: 10%;

  border: solid;
}

header nav li {
  display: inline-block;
  /*display: inline;*/
  margin: 0;
  padding: 0;
  /*how to get percentage with this*/
  padding-left: 7%;
  float: right;
}

header nav a {
  color: blue;
  font-size: 2.5em;
  text-decoration: none;
  display: inline-block;

  color: red;
  font-family: 'Raleway';
  text-decoration: none;
}

a:hover {
  color: Maroon;
}

/*main styling*/
h1 {
  margin: 0;

  height: 500px;
  padding-top: 30%;

  background-image: url('../assets/hero.jpg');
  background-size: 100% 100%;
  background-position: center;

  text-align: center;
  font-size: 5em;
}

/*text size and font*/
h1, h2 {
  font-family: 'Julius Sans One' ;
  /*font-size: 40px;*/
}

section h2 {
  text-align: center;
  font-size: 3em;
  width: 100%;

  border-top: solid;
  border-bottom: solid;

  margin: 0;
  margin-bottom: 3%;
  margin-top: 3%;
}

main section h3 {
  /*font-family: 'Exo';*/
  /*font-family: 'Amatic SC';*/
  font-family: 'Poiret One';
  /*font-family: 'Alegreya Sans SC';*/
  font-size: 1.4em;
  text-align: center;

  border-bottom: solid;
}

/*this is font family and size for all text */
p {

  /*font-family: 'Ubuntu Condensed';*/
  /*font-family: 'Quattrocento';*/
  /*font-family: 'Jura';*/
  /*font-family: 'Raleway';*/
  font-family: 'Josefin Slab';
  /*font-family: 'Roboto Mono'*/
  font-size: 1.3em;
 }

main section h2 {
   font-size: 3em;
   /*margin: 0;*/
 }

main section {
  clear: both;
  margin: 0;
}

article {
  float: left;

  border: solid;
  /*i dont like the rounded corners...*/
  /*border-radius: 2%;*/

  padding: 1.1% 1.1% 1.1% 1.1%;
  /*margin: 2.2% 2.2% 2.2% 2.2%;*/
  margin: 0% 3% 3% 2%;
  margin-left: 4%;

  /*height: 10%;*/
  height: 350px;
  width: 23%;

  background-color: Gainsboro;
}

.posts p {
  padding: 0;
  margin: 0;

  height: 70%;
  width: 100%;
  text-align: left;
  color: Black;

}

.posts a {
  color: red;
  font-family: 'Raleway';
  text-decoration: none;

  /*border: solid;*/
}

.posts a:hover {
  color: Maroon;
}

article .learn {
  text-align: center;

  margin: 0;
  padding: 0;
  /*I don't like the borders around learn more either..*/
  /*border: solid;*/
  /*height: 30px;*/
}

section:last-of-type h2 {
  margin: 0;
  height: 700px;
  background-image: url('../assets/everybody.jpg');
  background-size: 100% 100%;

  text-align: center;
  font-size: 5em;
  padding-top: 40%;
}

img {
  height: 320px;
  width: 38%;
  float: right;

  border: solid;
  margin: 0% 2% 0% 2%;
  margin-bottom: 4%;
}

.club p {
  color: DarkGreen;
  text-align: left;

  margin: 0;
  padding: 0;
  position: inline;
  padding-left: 5%;
  float: left;
  width: 50%;
}


/*footer syling*/
footer {
  float: bottom;
  clear: both;
  background-color: #c5b2c5;
  margin: 0;

  width: 100%;
  height: 200px;
}

div {
  position: inline-block;
  width: 40%;
  margin-left: 12%;
  padding-top: 3%;
  padding-left: 8%;
  padding-bottom: 5%;
}

h4, p#disclaimer {
  display: inline;
  font-size: .9em;

  margin: 0;
}

footer nav ul {
  float: right;
  list-style-type: square;
  /*padding: 10px 10px 10px 10px;*/
  margin: 0;

  margin-top: 4%;
  margin-right: 25%;
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: red;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
